.row {
    height: 200px;
}

.pink>.row {
    padding: 5px;
}

[class^="col"] {
    height: 100%;
}

.pink {
    border: 1px solid black;
    background-color: pink;
}

.nested {
    border: 1px solid white;
    background-color: rgb(255, 123, 145);
}